<h1>Home page for css-doodle gallery</h1>

<a href="./flowers-stars-pattern.html"> Flowers &amp; Stars Pattern</a>
<a href="./geometric-shapes-pattern.html"> Geometric Shapes Pattern</a>
<a href="./fabric-pattern.html"> Fabric Pattern </a>
